.vscode/

# Binaries for programs and plugins
/ztdns
*.exe
*.exe~
*.dll
*.so
*.dylib

# Env example and local .env
.env
.env.example

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

